Problem images/
.DS_Store
assets/Images/We-build-people.png
assets/Images/Daikin 1 - original backup.png
assets/Videos/girls-gif.mp4
assets/Images/Daikin 1.png
assets/Images/Daikin 2.png
assets/Images/Daikin 3.png
assets/Images/Daikin 4.png
assets/Images/Daikin 5.png
assets/Images/Kinley 1.png
assets/Images/Kinley 2.png
assets/Images/Kinley 3.png
assets/Images/Kinley 4.png
assets/Images/Kinley 5.png
